#coah ,#time{
    
    margin: 0 auto;
    width: 80%;
   
}
#About{
  margin: 0 auto;
  width: 90%;
}
#heading{
  margin: 0 auto;
  width: 90%;
}
body{ font-family: arial,helvetica; font-weight: 20px;}

#fullbody{
    background: linear-gradient(#ffa500,#ffffff);
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#logo img{
    width: 40px;
    margin-top: 10px;
    margin-right: 20px;
}
#logo h5{
  color: red;
  line-height: 10px;
} 


/* #menu > ul{
  background: #2c3e50;
} */
#menu ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

#menu ul a
{
  display:block;
  color:rgb(12, 11, 11);
  text-decoration:none;
  font-weight:700;
  font-size:18px;
  line-height:32px;
  padding:0 15px;
  font-family:Helvetica,Arial,sans-serif;
}

#menu ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:3px;

}

#menu ul li.active
{
  background:#e9bc5c
}

#menu ul li:hover
{
  /*background:#f6f6f6*/
  background: #f5b506;
}

#menu ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#f0c505;
  padding:0
}

#menu ul ul li
{
  float:none;
  width:200px;
  border-left: 3px solid #e66b3a;
}
#menu ul ul li:hover{
  border-left: 3px solid #2c3e50;
}

#menu ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#menu ul ul ul
{
  top:-4px;
  left:100%
}

#menu ul li:hover > ul
{
  display:block;
  z-index: 2;
}
#menu{
    float: right;
    margin-top: 10px;
  
}
#logo{
    float: left;
}
#slider{
  z-index: -1;
}
#logo h5{
font-size: 25px;
margin-top: 25px;
}
#About{
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(image9.jpg) no-repeat center;
    background-attachment:fixed;
    background-size: cover; 
    
   
	
}
#About h1,h5,p{
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-weight: bolder;
    
}
#album{
  display: flex;
  justify-content: space-evenly;
}
.image img{
    width: 300px;
    height: 240px;
}
#About .abc{
    float: left;
}
#About .def{
    float: left;
    padding:0px 0px;
    
}
#About .ghi{
float: left;
}
.image{
    margin: 10px;
    width: 300px;
}
#coaching{
    background: linear-gradient(#9b90906e,#f7f2f2);
    height: 600px;
    padding-top: 30px;
 
}
/*
#Timetable table, th, td{
  border-style: 2px solid red;
 

} */



/* hover effect */

h1{ text-align: center;line-height: 45px}
*{
  box-sizing: border-box;
}
.box{
  width: 290px;
  height: 350px;
  margin: 10px auto;
  box-shadow: 0 0 5px #bababa;
  overflow: hidden;
  position: relative;
}
.box:before,
.box:after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: all 0.5s;
}
.box:before{
  bottom:5%;
  left: 5%;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.box:after{
  top:4.5%;
  right: 4.4%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.box:hover:before,
.box:hover:after{
  opacity: 1;
  width: 90%;
  height: 90%;
}
.box img{
  width: 100%;
  height: auto;
  transform: scale(1);
  display: block;
  transition: all 0.5s;
}
.box:hover img{
  transform: scale(1.05);
}
.box .box-content{
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.box .name,
.box .post{
  display: block;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  opacity: 1;
  position: absolute;
  bottom:0;
  left:0;
  transition: all 0.5s;
}
.box .post,
.box:hover .name{
  opacity: 0;
  transition: all 0.5s;
}
.box:hover .post{
  opacity: 1;
}



/* second image */

.box2{
  width: 300px;
  height: 240px;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 3px;
  overflow: hidden;
}
.box-img{
  display: block;
  position: relative;
}
.box-img img{
  width: 100%;
}
.over-layer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center
}
.box-img:before,
.box-img:after,
.box-img .over-layer:before,
.box-img .over-layer:after{
  content:"";
  width: 50%;
  height: 50%;
  position: absolute;
  background:rgba(255,255,255,0.4);
  transition: all 0.40s ease-in-out 0s;
}
.box2 .box-img:before{
  left: -100%;
  top:0;
}
.box2:hover .box-img:before{
  left:0%;
}
.box2 .box-img:after{
  right: 0%;
  top:-100%;
  background:rgba(255,255,255,0.8);
}
.box2:hover .box-img:after{
  right: 0%;
  top:0%;
}
.box2 .over-layer:before{
  left:0;
  bottom: -100%;
  background:rgba(255,255,255,0.8);
}
.box2:hover .over-layer:before{
  bottom: 0%;
}
.box2 .over-layer:after{
  bottom:0;
  right: -100%;
}
.box2:hover .over-layer:after{
  bottom:0;
  right: 0%;
}
.box2 .over-layer i{
  position: relative;
  top: 40%;
  font-size: 35px;
  color:red;
  z-index: 1;
  opacity: 0;
  transition:all 0.40s easy-in-out 0.1s;
}
.box2:hover .over-layer i{
  opacity: 1;
  transition-delay: 0.1s;
}

/* box3 content ha */


.box3{
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.box3 .box-pic{
  position: relative;
  transform-origin: 95% 50% 0;
  transition: all 0.5s;
  z-index: 1;
}
.box3 .box-pic:after{
  content: "";
  position: absolute;
  top:50%;
  left: 95%;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
}
.box3 .box-pic img{
  border-radius: 50%;
}
.box3:hover .box-pic{
  transform: rotate(-140deg);

}
.box3 .box-content3{
  text-align: center;
  color: #fff;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: brown;
  border-radius: 50%;
  padding: 40px 20px;
  box-sizing: border-box;
}
#Timetable{
    height: 500px;
    background: linear-gradient(pink ,yellow);
    padding-top: 60px;
}
#time p{
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 30px;
}
#footer{
  
  background-color:rgba(200,100,100,0.3);
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
}
#footer .foot ul li a {

text-decoration: none;
color: rgb(53, 166, 211);
}
#footer .foot ul li{
 
  line-height: 40px;
  font-size: larger;
  list-style: none;
  
}
.abc{
  float: left;
}
.abc ul li a i{
  font-size:20px; 
  font-weight: bolder;
  line-height: 20px;
}

.def{
  float: left;
}
.ghi{
  float: left;
}
.jkl{
  float: left;
}

.foot{
  
  width: 20%;
  padding: 10px;

}
